<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            $("img").click(function () {
                console.log("我要换验证码")
                {#由于缓存机制的存在, 在url后加一个随机数#}
                $(this).attr("src","/app/getverifycode/" + Math.random());
            })
        })
    </script>
</head>
<body>

<form action="{% url 'app:do_user_login' %}" method="post">

    {% csrf_token %}

    <span>用户名:</span><input type="text" name="username" placeholder="请输入用户名">
    <br>
    <span>验证码</span><input type="text" name="verifycode" placeholder="请输入验证码">
    <br>
    <img src="{% url 'app:get_verify_code' %}" alt="验证码" height="50px">
    <span>看不清?点击验证码更换</span>
    <br>
    <input type="submit" placeholder="登录">
</form>

</body>
</html>