{% load static %}
<h2>这是一个非常炫酷的轮播</h2>

<div>
    <link rel="stylesheet" href="{% static "css/swiper.css" %}">
    <script type="text/javascript" src="{% static "js/swiper.js" %}"></script>

    <style type="text/css">
        .swiper-container {
            width: 60%;
            height: 600px;
        }
    </style>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>

    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            nextButton:'.swiper-button-next',
            prevButton:'.swiper-button-prev',
            pagination:'.swiper-pagination',
            loop:true,
            autoplay:3000,
        })
    </script>

</div>
